In [1]:
import numpy as np
import pandas as pd

# Handing Missing Data

In [2]:
pd.isnull(np.nan)

True

In [3]:
pd.isnull(None)

True

In [4]:
pd.isna(np.nan)

True

In [5]:
pd.isna(None)

True

In [6]:
pd.notnull(np.nan)

False

In [7]:
pd.notnull(None)

False

In [8]:
pd.notna(np.nan)

False

In [9]:
pd.notna(None)

False

In [10]:
pd.notnull(3)

True

In [11]:
pd.isnull(pd.Series([1,np.nan,7]))

0    False
1     True
2    False
dtype: bool

In [12]:
pd.notnull(pd.Series([1,np.nan,7]))

0     True
1    False
2     True
dtype: bool

In [13]:
pd.isnull(pd.DataFrame({
    'Column A': [1,np.nan,7],
    'Column B': [np.nan,2,3],
    'Column C': [np.nan,2,np.nan]
}))

   Column A  Column B  Column C
0     False      True      True
1      True     False     False
2     False     False      True

### Operations with miss values

In [14]:
pd.Series([1,2,np.nan]).count()

2

In [15]:
pd.Series([1,2,np.nan]).sum()

3.0

In [16]:
pd.Series([1,2,np.nan]).mean()

1.5

### Filtering missing data

In [17]:
s = pd.Series([1,2,3,np.nan,np.nan,4])

In [18]:
pd.notnull(s)

0     True
1     True
2     True
3    False
4    False
5     True
dtype: bool

In [19]:
pd.notnull(s).count()

6

In [20]:
s[pd.notnull(s)]

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64

In [21]:
s.isnull()

0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool

In [22]:
s.notnull()

0     True
1     True
2     True
3    False
4    False
5     True
dtype: bool

In [23]:
s[s.notnull()]

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64

### Dropping null values

In [24]:
s

0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
5    4.0
dtype: float64

In [25]:
s.dropna()

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64